ul.header-menu-list {
    margin: 0 40px;
    padding: 0;
    display: inline-block;
    font-weight: 300;
}

ul.header-menu-list li {
    margin: 0 18px;
}

ul.header-menu-list li a {
    color: var(--warm-grey);
    transition: all 250ms ease;
    will-change: color;
}

ul.header-menu-list li a:hover,
ul.header-menu-list li a.active {
    color: var(--white);
}


