header {
    background: var(--black);
    height: var(--header-height);
    width: 100%;
    color: var(--warm-grey);
    position: fixed;
}

#app-logo {
    font-size: 24px;
    font-weight: 500;
    line-height: 60px;
    letter-spacing: 1px;
    color: var(--white);
    text-decoration: none;
}