@import "../../../style/colors.css";

header {
    background: var(--black);
    height: 60px;
    width: 100%;
    color: var(--white);

}

#app-logo {
    font-size: 24px;
    font-weight: 500;
    line-height:60px;
    letter-spacing: 1px;
    color: var(--white);
    text-decoration: none;
}