.tasks-table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    margin-top: 40px;
}

.tasks-table tr {
    border-bottom: 1px solid var(--warm-grey);
}

.tasks-table thead tr td {
    color: var(--warm-grey);
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 300;
}

.tasks-table tr td {
    border: 0px;
    padding: 0 10px;
}

.tasks-table tr td:first-child {
    width: 10%;
}

.tasks-table tr td:nth-child(2) {
    width: 15%;
}

.tasks-table tr td:nth-child(3) {
    width: 50%;
    margin-right: 5%;
}

.tasks-table tr td:nth-child(4){
    width: 10%;
}

.tasks-table tr td:nth-child(5) {
    width: 10%;
}


.tasks-table tbody tr td{
    padding-top: 16px;
    padding-bottom: 24px;
}