<tab-menu></tab-menu>

<div class="container">
    <table class="tasks-table" border="1">
        <thead>
        <tr>
            <td>ID</td>
            <td>Город</td>
            <td>Название</td>
            <td>Выполнить до</td>
            <td>Сумма</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="t in tasks.tasks">
            <td>{{t.index}}</td>
            <td>{{t.city}}</td>
            <td>Подключение провода</td>
            <td>{{t.completeBefore}}</td>
            <td>{{t.total}}</td>
        </tr>
        </tbody>
    </table>

</div>
