.tasks-table {
    width: 100%;
    border: 0px;
    border-collapse: collapse;
    margin-top: 40px;
}

.tasks-table tr {
    display: block;
    width: 100%;
    /*border-bottom: 1px solid;*/
    /*border-color: var(--warm-grey-rgba);*/
}

.tasks-table tr:after {
    display: block;
    height: 1px;
    width: 100%;
    content: " ";
    background: var(--warm-grey);
}

.tasks-table thead tr td {
    color: var(--warm-grey);
    padding-bottom: 8px;
    font-size: 12px;
    font-weight: 300;
}

.tasks-table tr td {
    border: 0px;
    padding: 0 10px;
}

.tasks-table tr td:first-child {
    width: 10%;
}

.tasks-table tr td:nth-child(2) {
    width: 15%;
}

.tasks-table tr td:nth-child(3) {
    width: 50%;
    margin-right: 5%;
}

.tasks-table tr td:nth-child(4){
    width: 10%;
}

.tasks-table tr td:nth-child(5) {
    width: 10%;
}

.tasks-table tbody tr td{
    padding-top: 16px;
    padding-bottom: 24px;
}

/*.task-row.ng-enter {*/
    /*opacity: 0;*/
    /*transform: translateY(-14px);*/
    /*transition: all 0.5s ease;*/
    /*transition-delay: 0s;*/
/*}*/

/*.task-row.ng-enter.ng-enter-active {*/
    /*opacity: 1;*/
    /*transform: translateY(0);*/
/*}*/

/*.task-row.ng-leave {*/
    /*transition: all 0.5s ease;*/
    /*transition-delay: 0.1s;*/
    /*opacity: 1;*/
    /*transform: translateY(0px);*/
/*}*/
/*.task-row.ng-leave.ng-leave-active {*/
    /*opacity: 0;*/
    /*transform: translateY(-14px);*/
/*}*/

.task-row.ng-enter-stagger {
    transition-delay: 1s;
}