@import "~normalize.css";
@import "colors.css";

@media (min-width: 321px) {}
@media (min-width: 426px) {}
@media (min-width: 769px) {}
@media (min-width: 1025px) {}
@media (min-width: 1440px) {}
@media (min-width: 1921px) {}

body {
  background: var(--white);
  color: var(--black);
  font-family: Roboto,sans-serif;
}

.container {
  margin-left: 40px;
  margin-right: 40px;
}

.page-title {

}

a {
  color: #03A9F4;
}

main {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 50px;
  display: block;
}

footer {
  text-align: center;
  font-size: 0.8em;
}