.icon {
    vertical-align: middle;
    display: inline-block;
    margin: 0 5px;
}

.notification {
    height: 21px;
    width: 18px;
    background: url('../public/img/icons/ic-notifications-black-24-px.png');
}

.info {
    height: 20px;
    width: 20px;
    background: url('../public/img/icons/ic-help-outline-24-px-copy-3.png');
}