<div class="container">
    <div class="input-group">
        <input id="seachField" ng-model="tasks.searchFieldValue" type="text" placeholder="Поиск по слову">
    </div>

    <div class="input-group" class="checkbox" ng-click="tasks.togglePropCheckbox(prop, $event)" ng-repeat="prop in tasks.taskProps">
        <label for="{{prop.type}}_checkbox">
            <input id="{{prop.type}}_checkbox" ng-value="prop.type" class="checkbox" type="checkbox">
            <div class="checkbox-custom"></div>
            <div class="label">{{prop.text}}</div>
        </label>
    </div>

    <div class="input-group">
        <dropdown placeholder="{{}}" list="colours" selected="colour" property="name">Никита Ласточкин</dropdown>
    </div>

</div>

