<div class="container">
    <div class="input-group">
        <input id="seachField" type="text" placeholder="Поиск по слову">
    </div>

    <div class="input-group">
        <label for="personal">
            <input class="checkbox" id="personal" type="checkbox">
            <span class="checkbox-custom"></span>
            <span class="label">Персональное</span>
        </label>
    </div>

    <div class="input-group">
        <label for="nightWork">
            <input class="checkbox" id="nightWork" type="checkbox">
            <span class="checkbox-custom"></span>
            <span class="label">Ночное</span>
        </label>
    </div>

    <div class="input-group">
        <label for="Urgent">
            <input class="checkbox" id="Urgent" type="checkbox">
            <span class="checkbox-custom"></span>
            <span class="label">Срочное</span>
        </label>
    </div>

    <div class="input-group">

    </div>

</div>

